.footer-wrapper {
  /* max-height: 100vh; */
  background-color: #007bff;
  padding: 4em 10%;
  color: #e7e5e7;
  list-style: none !important;

  line-height: 1.3em;
  h1 {
    margin: 0;
    font-weight: bold;
    color: #fff;
    margin-bottom: 1em;
    line-height: 1.4;
    font-size: 16px;
    margin: 0 auto;
  }

  a {
    color: #73a3d7 !important;
  }

  h3 {
    color: #fff !important;
  }

  p {
    font-size: 14px;
  }

  h6 {
    margin-bottom: ;
  }

  .contact-link {
    font-size: 0.9em;
    line-height: 1.2;
  }

  .footer-inner {
    display: flex;
    flex-flow: row wrap;

    .footer-item {
      flex: 1 0 40%;
      list-style: none !important;
      padding: 2em;
    }

    .footer-about {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      text-align: center;
      margin-bottom: 2em;

      p {
        line-height: 1.5;
      }
    }

    .logo-wrapper {
      display: flex;
    }

    .mentors-cat-p {
      margin: 0;
    }

    .letter {
      /* text-decoration: underline; */
    }

    img.logo {
      max-width: 200px;
      border-radius: 0.2em;
      margin: 1em;
      box-shadow: 0.0625rem 0.4375rem 1.0625rem rgba(68, 68, 70, 0.3);
    }

    .site-map {
      display: flex;
      flex-direction: column;
    }
  }
}

.copy {
  padding: 0.5em;
  text-align: center;
  font-size: 0.8em;
  opacity: 0.5;
}
