header {
  min-height: 2.5em;
  background: #f7425c;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  opacity: 0.95;
  top: 0;
  z-index: 1001;

  .header-navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1027px;
    margin: 0 auto;
    height: 2.5em;

    .site-branding-container {
      img {
        max-height: 6em;
        border: none;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        margin-top: 3.5em;
        box-shadow: 0.0625rem 0.4375rem 1.0625rem rgba(68, 68, 70, 0.3);
      }
    }

    .navigation-menu-container {
      ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          :hover {
            /* background-color: #a83939; */
          }

          a {
            color: white;

            text-decoration: none;
            font-size: 0.8em;
            outline: none !important;
            font-weight: 400;
            border-bottom-left-radius: 0.2em;
            border-bottom-right-radius: 0.2em;
            text-transform: uppercase;
            padding: 1em 1.3em;
          }
        }
      }
    }
  }
}

.active-main-link {
  background-color: #3dbdad !important;
  font-weight: bold !important;
  box-shadow: inset 0 0 0.25rem #3dbdad;
}
