/* ----------------------------
    Cards list - Card item
----------------------------*/
.cards-list-container {
  /* margin: 0 auto; */
  max-width: 90%;
  margin: 0 auto;

  .cards-list {
    display: flex;
    position: relative;
    flex-flow: row wrap;
    justify-content: space-between;

    .card-item {
      flex: 0 1 calc(calc(100% / 3) - 30px);
      display: flex;
      width: 100%;
      margin: 20px 0;
      padding: 0;
      color: #a1a1a1;
      background-color: white;
      text-align: left;
      transform: translateY(0);
      transition: all 0.4s;
      border-radius: 8px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      overflow: hidden;

      .card-container {
        padding: 0;
        border-top: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .card-image {
          padding-bottom: 40%;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          transition: all 1s;

          &:hover {
            transform: scale(1.2);
          }
        }
        .card-info {
          padding: 30px;
        }
      }
    }
    .card-item:hover {
      box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.2);
      transform: translateY(-3px);
    }
  }
}

.mentor-add-button {
  text-align: center !important;
}

.mentors-card {
  padding-top: 0 !important;
}

.red {
  background-color: #f14949 !important;
}

.admin-link {
  background: #f9293a !important;
}
.active-admin-link {
  background: #f9293a !important;
}
