/* ----------------------------
    Events card
----------------------------*/
.cards-list-container-events {
  max-width: 70% !important;
  padding: 3em;
  background-color: #fff;

  .cards-list {
    height: 100%;
    position: sticky;
    top: 10%;
    overflow-y: scroll;

    .card-item {
      min-width: calc(100% / 2 - 30px);
      margin: 20px auto;

      .card-info {
        padding: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .card-date {
          order: 2;
          display: flex;
          flex-direction: column;
          align-items: center;

          p {
            margin: 0;
            padding: 0;
          }

          p.event-month {
            color: #ff4150;
            text-transform: uppercase;
            font-weight: bold;
          }

          p.event-day {
            color: #2b2b2b;
          }
        }

        .card-information {
          .event-name {
            margin-top: 0;
          }
        }
      }
    }
  }
}

.card-info.event-name {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  color: rgba(1, 39, 80, 0.8);
  line-height: 1.4rem;
}
.readmore {
  /* border: 3px solid #fff; */
  color: #fff !important;
  background: #007bff;
  border: none;
  font-size: 0.5em;
  padding: 1em 2em;
  cursor: pointer;
  margin-top: 2rem !important;
  min-width: 70px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  transition: all 0.2s;
  border-radius: 3px;
  border: none;
  outline: 0;
  transform: scale(1.2);
  align-self: center;

  &:hover {
    background-color: #003269 !important;
    transform: scale(1.25);
    letter-spacing: 0.0625rem;
    box-shadow: 1px 7px 17px rgba(68, 68, 70, 0.3);
    text-decoration: none;
    outline: 0;
    border: 0;
  }
  &:active {
    background-color: #ff4150 !important;
    transform: scale(1);
  }

  a {
    color: #f2f2f2;
  }
}

.red {
  position: absolute;
  margin-top: -30px !important;
}
