.map-container {
  width: 50%;
  height: 100vh;
  border: 1em solid #007bff;
  border-right: 1em solid #007bff;
  /* display: block; */
  /* background-color: #fff; */
  /* border-radius: 20px; */
  order: 2;
  position: sticky;
  top: 0;
  /* padding: 10px; */
  /* border-radius: 20px; */
}

.map-style {
  /* border-radius: 20px; */
  /* padding: 10px; */
}
