@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600");
@font-face {
  font-family: "Cera Bold";
  font-weight: 700;
  src: local("Cera Bold"), local("Cera-Bold"),
    url("./assets/fonts/cera_pro_bold-webfont.woff2") format("woff2"),
    url("./assets/fonts/cera_pro_bold-webfont.woff") format("woff");
}
/* @font-face {
  font-family: "cerabold";
  src: local("cerabold"),
    url(./assets/fonts/cera_pro_bold-webfont.woff) format("woff");
} */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, "Montserrat", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee !important;
}

.page-content {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
}

.sticky {
  position: fixed;
  top: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
